<p appHighlight>{{message}}</p>
<input appHighlight type="text" highlightColor="red" popoverTitle="Message"  [(ngModel)]="message"> 
<div>
    <label #myIdentifier appHighlight [highlightColor]="'orange'" >{{message}}</label>
</div>
<div #divIdentifier style="width:100px;height: 100px;border: 1px solid rgb(184, 50, 50);">
</div>

{{ currencyValue | number:'2.3-5' }}
<br/>
{{ someDate | date:'medium' }}
<br/>
{{ someDate | date:'fullDate' }}
<br/>
{{ someDate | date:'yyyy' }}
<br/>
{{ someDate | date:'mm' }}

<img [src]="defaultImage | defaultImage:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg'"/>
<img [src]="imageUrl | defaultImage:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg'"/>