
<mat-tab-group>
    <mat-tab label="Employee Registration"> 
        <div class="container">
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-6">
                  <form class="example-form" [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Employee Name" style="color: blueviolet;" autocomplete="off" formControlName="employee_name" [(ngModel)]="employeeData.employee_name">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="User Name" [(ngModel)]="employeeData.username" autocomplete="off"  formControlName="username">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Email" [(ngModel)]="employeeData.email_address" autocomplete="off"  formControlName="email_address">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Phone" autocomplete="off" [(ngModel)]="employeeData.phone" autocomplete="off"  formControlName="phone">
                        </mat-form-field>
                        <mat-radio-group aria-label="Select the Gender" [(ngModel)]="employeeData.gender"  formControlName="gender">
                          <mat-radio-button value="Male">Male</mat-radio-button>
                          <mat-radio-button value="Female">Female</mat-radio-button>
                        </mat-radio-group>
                        <!-- <mat-form-field class="example-full-width">
                          <input matInput placeholder="gender" [(ngModel)]="employeeData.gender">
                        </mat-form-field> -->
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Enter the Address" autocomplete="off"  [(ngModel)]="employeeData.employee_address"  formControlName="employee_address"></textarea>
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="City" [(ngModel)]="employeeData.city"  formControlName="city"  >
                        </mat-form-field>
                  
                        <button  class="btn btn-outline-primary" type="submit">Save Employee</button>
                        <button  class="btn btn-outline-warning m-l-20"  type="button" (click)="clearEmployee();">clear</button>
                        <button  class="btn btn-outline-primary pull-right" (click)="goToEmployeeList();">Employee List</button>
                    </form>
              </div>
              <div class="col-md-5">
              </div>
            </div>
          </div>
    </mat-tab>
  </mat-tab-group>
  