.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  ::ng-deep .mat-form-field-placeholder{

    color:blueviolet;
  }
  
  ::ng-deep .mat-focused .mat-form-field-placeholder{
  
    color:blueviolet;
  }

  .mat-focused .placeholder {
    color: #00D318;
}