<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <ngx-spinner></ngx-spinner> -->
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "small"
color = "#fff"
type = "ball-beat"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>