<p>{{message}}</p>

<!-- <input type="text" [value]="message">-->
<input type="text"  [(ngModel)]="message"> 

<!-- <input type="text" value="{{message}}"> -->
<!-- <label [ngClass]="LabelColor" >{{numaricValue1+numaricValue}}</label>
<label *ngIf="isShowLable" [ngStyle]="{'color':LabelColor=='colorRed' ? 'red' : 'blue'}">
NgStyleLabel
</label>
<br/>
<label [hidden]="!isShowLable" [ngStyle]="{'color':LabelColor=='colorRed' ? 'red' : 'blue'}">
    Hidden Label
    </label>
<input type="button" value="Click Me" [style.width.px]="buttonwidth" [disabled]="buttonDisabled" (click)="clickMe();LabelColor='colorRed'">
<div *ngFor="let hero of HEROES">
    Name:{{hero.name}}
</div>

<h4>NgSwitch</h4>
<ul *ngFor="let person of people" [ngSwitch]="person.country">
  <li *ngSwitchCase="'UK'"
      class="text-success">{{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchCase="'USA'"
      class="text-primary">{{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchCase="'HK'"
      class="text-danger">{{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchDefault
      class="text-warning">{{ person.name }} ({{ person.country }})
  </li>
</ul> -->

<!-- <app-homechild [parentMessage]="message" (messageEvent)="receiveMessage($event)"></app-homechild> -->

<app-about></app-about>